<!-- creat delete link and assign it to variable "delete_link" !-->
<% @delete_link = (link_to '', post_comment_path(comment.post_id, comment.id), 
method: :delete, data: { confirm: 'Deleting comment. Are you sure?' },
class: "btn-delete-comment", remote: true) %>

<!-- create comment divs !-->
<%= div_for comment do |comment| %>
<!-- <p> -->
	<strong>Posted <%= time_ago_in_words(comment.created_at) %> ago</strong>
	<%= @delete_link %>
	<br/>
	<%= h(comment.body)%>
<!-- </p> -->

<%end%>
