// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-delete-comment {
  display: inline-block;
  background-image: none;
  background-size: 14px;
  width: 12px;
  height: 12px; 
}