// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments {
  width: 300px
  
}

.comment {
  background-color: #f6f7f8;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 4px;
  padding-top: 2px; 
}

.comment:hover {
  background-color: mintcream;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  .btn-delete-comment {
    background-image: url(/images/icons/x_close_comment.gif);
    float: right;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 2px;
  }
}